#sortableCustomerList1 li,
#sortableCustomerList2 li,
#sortableCustomerList3 li {
    position: relative; /* Make the li position relative to allow absolute positioning of children */
    /* margin-bottom: 14px !important; Add margin to create space between list items */
    border: none !important; 
    padding: 0 !important; /* Remove padding */
     /* border: 1px solid #cdcdcd; */
    /* margin-bottom: 10px; */
    /* padding: 6px; */

}
.route_cst2{
 border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.customerdetailslist{
    display: flex; justify-content: space-between; align-items: center;
}
.customerRouteFormed{
    display: flex; flex-direction: column; width: 100% !important;
}

/* .suggested-window {
    display: block;
    position: absolute;
    bottom: -5px; /* Adjust to create a gap below the li */
    /* right: 5px; */
    /* background-color: #f9f9f9; Background color for contrast */
    /* padding: 1px 1px; Add padding for aesthetics */
    /* border-radius: 4px; */
    /* border: 1px solid #007BFF; Add a border around the suggested window */
    /* border: 1px solid black; */
    /* font-weight: bold; */
    /* color: black; */
    /* color: #007BFF; Text color to match the border */
    /* font-size: 0.7em; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); Optional shadow for depth */
    /* z-index: 1; Ensure it appears above other elements if overlapping */
/* }  */


.suggested-window {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    border: 1px solid #cdcdcd;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.job-title-h6{
    font-weight: bold; color: #4CAF50; margin-bottom: 5px; 
    display: block;
    width: 100%;
    text-align: right;

}

.job-title-h5{
margin-left: 5px;
font-size: 1.0em !important;
}
ul{
    list-style-type: none !important;

}
#customerInfo {
    height: 500px; /* Match the height of the map */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: style for better visibility */
    padding: 10px; /* Maintain padding */
}

#map {
    height: 500px; /* Ensure map has fixed height */
    border: 1px solid #ccc; /* Optional: style for better visibility */
    width: 75%; /* Maintain map width */
}
/* Add this to your existing CSS or <style> tag */
.btn-active {
    /* border-color: rgb(252, 68, 1) !important; */
    background-color: #2962ff !important;
    color: #fff !important;
    
}


.openJobTechDetails {
    padding-top: 0px;
}
.pp_job_info_box {
    line-height: 18px;
    margin-bottom: 10px;
}
.pp_job_info_box h6 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.pp_job_date {
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.pp_job_info_full {
    margin-bottom: 0px !important;
}
.pp_job_info_full:hover {
    background: #efefef;
}

.dts2 {
    min-height: 36px;
}

.timeslot_td_time {
    padding: 0px;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.5px;
}


.container-schedule {
    padding: 0px !important;
}

.schedule_section_box {
    overflow-x: scroll;
    height: 550px;

}

.popupContainer {
    position: absolute;
    z-index: 999;
    background-color: #3e5569;
    color: white;
    padding: 10px 7px;
    display: none;
    border-radius: 5px;
}

.popup-option {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.popup-option.setting-popup {
    margin-bottom: 0px;
}

.popup-option i {
    font-size: 11px;
}

.tech_th {
    position: relative;
}

.user_head_link {
    color: inherit;
    text-decoration: none;
}

.user_head_link img {
    width: 48px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.popupContainer::after {
    content: "";
    position: absolute;
    bottom: 100%;
    /* Change top to bottom */
    left: 50%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #3e5569 transparent;
    /* Change border-color */
}

.smscontainer {
    position: absolute;
    z-index: 999;
    background-color: #3e5569;
    color: white;
    padding: 7px;
    display: none;
    width: 250px;
    border-radius: 4px;
}

.smscontainer::after {
    content: "";
    position: absolute;
    top: 17%;
    /* Adjust top position as needed */
    right: 100%;
    /* Change left to right */
    margin-top: -5px;
    /* Adjust margin-top as needed */
    border-width: 6px;
    border-style: solid;
    border-color: transparent #3e5569 transparent transparent;
    /* Change border-color */
}

.smscontainer .message_content {
    width: 75%;
    display: inline-block;
    border-radius: 0px;
}

.smscontainer .btn {
    width: 25%;
    height: 31px;
    border-radius: 0px;
    background: #3699ff;
}

.settingcontainer {
    position: absolute;
    z-index: 999;
    background-color: #3e5569;
    color: white;
    padding: 7px;
    display: none;
    border-radius: 5px;
}

.settingcontainer::after {
    content: "";
    position: absolute;
    top: 50%;
    /* Adjust top position as needed */
    right: 100%;
    /* Change left to right */
    margin-top: -5px;
    /* Adjust margin-top as needed */
    border-width: 6px;
    border-style: solid;
    border-color: transparent #3e5569 transparent transparent;
    /* Change border-color */
}

.flexibleslot {
    max-width: 100%;
    /* white-space: nowrap;  */
    text-overflow: ellipsis;
    /* Shows ellipsis (...) for overflow text */
}


.draggable-items {
    text-align: center;
    width: fit-content;
    /* Set a fixed width for masonry items */
    box-sizing: border-box;
}

.draggable-items .dragging {
    transition: transform 0.1s ease;
}


.gu-mirror {
    display: none;
}

.dat table th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.datepicker-dropdown  {
  z-index: 100 !important;
}
.show_job_details {
            text-decoration: none;
            /* Prevent underline on links */
        }

        .job-container {
            display: flex;
            flex-wrap: wrap;
            /* Allows jobs to wrap to the next line if necessary */
            margin-bottom: 10px;
            /* Adjust margin as needed */
        }

        .schedulJob {
            font-size: 9px;
        }

        .start-drag-div {
            position: absolute;
            top: -9px;
            left: -10px;
            color: #fff;
            width: 25px;
            height: 25px;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            border-radius: 100%;
            background: #343a40;
            line-height: 30px;
        }

        .disable-pointer-events {
            pointer-events: none;
        }

        .mapStyle{
          height: 567px;
          display:none;
        }

        .round-init{
            color: #fff;
            width: 32px;
            height: 32px;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            border-radius: 100%;
            background: #b2b4bd !important;
            line-height: 35px;
            font-size: 9px;
        }
        .select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: #2962ff !important;
    border-color: #2962ff !important;
    color: #000 !important;
}