
.dts2 {
    min-height: 36px;
}

.timeslot_td_time {
    padding: 0px;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.5px;
}


.container-schedule {
    padding: 0px !important;
}

.schedule_section_box {
    overflow-x: scroll;
    height: 550px;

}

.popupContainer {
    position: absolute;
    z-index: 999;
    background-color: #1777d3;
    color: white;
    padding: 10px 7px;
    display: none;
    border-radius: 5px;
}

.popup-option {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.popup-option.setting-popup {
    margin-bottom: 0px;
}

.popup-option i {
    font-size: 11px;
}

.tech_th {
    position: relative;
}

.user_head_link {
    color: inherit;
    text-decoration: none;
}

.user_head_link img {
    width: 48px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.popupContainer::after {
    content: "";
    position: absolute;
    bottom: 100%;
    /* Change top to bottom */
    left: 50%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #1777d3 transparent;
    /* Change border-color */
}

.smscontainer {
    position: absolute;
    z-index: 999;
    background-color: #1777d3;
    color: white;
    padding: 7px;
    display: none;
    width: 250px;
    border-radius: 4px;
}

.smscontainer::after {
    content: "";
    position: absolute;
    top: 50%;
    /* Adjust top position as needed */
    right: 100%;
    /* Change left to right */
    margin-top: -5px;
    /* Adjust margin-top as needed */
    border-width: 6px;
    border-style: solid;
    border-color: transparent #1777d3 transparent transparent;
    /* Change border-color */
}

.smscontainer .message_content {
    width: 75%;
    display: inline-block;
    border-radius: 0px;
}

.smscontainer .btn {
    width: 25%;
    height: 31px;
    border-radius: 0px;
    background: #3699ff;
}

.settingcontainer {
    position: absolute;
    z-index: 999;
    background-color: #1777d3;
    color: white;
    padding: 7px;
    display: none;
    border-radius: 5px;
}

.settingcontainer::after {
    content: "";
    position: absolute;
    top: 50%;
    /* Adjust top position as needed */
    right: 100%;
    /* Change left to right */
    margin-top: -5px;
    /* Adjust margin-top as needed */
    border-width: 6px;
    border-style: solid;
    border-color: transparent #1777d3 transparent transparent;
    /* Change border-color */
}

.flexibleslot {
    max-width: 100%;
    /* white-space: nowrap;  */
    text-overflow: ellipsis;
    /* Shows ellipsis (...) for overflow text */
}


.draggable-items {
    text-align: center;
    width: fit-content;
    /* Set a fixed width for masonry items */
    box-sizing: border-box;
}

.gu-mirror {
    opacity: 0.6;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.dat table th {
    position: sticky;
    top: 0;
    z-index: 100;
}

.datepicker-dropdown  {
  z-index: 100 !important;
}
.show_job_details {
            text-decoration: none;
            /* Prevent underline on links */
        }

        .job-container {
            display: flex;
            flex-wrap: wrap;
            /* Allows jobs to wrap to the next line if necessary */
            margin-bottom: 10px;
            /* Adjust margin as needed */
        }

        .schedulJob {
            font-size: 9px;
        }

        .start-drag-div {
            position: absolute;
            top: -9px;
            left: -10px;
            color: #fff;
            width: 25px;
            height: 25px;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            border-radius: 100%;
            background: #343a40;
            line-height: 30px;
        }

        .disable-pointer-events {
            pointer-events: none;
        }

        .mapStyle{
          height: 567px;
          display:none;
        }